<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AllowedTestDomains" value="test.,localhost,127.0.0.1,::1" />
    <add key="RequestDelayMs" value="2000" />
    <add key="MaxDemoAttempts" value="5" />
    <add key="LogFilePath" value="security_training.log" />
    <add key="EnableDetailedLogging" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
